.resume-header,
.resume-text {
  font-family: 'Hind Madurai', sans-serif;
  margin-left: 20px;
}

.resume-list {
    font-family: 'Hind Madurai', sans-serif;
    margin-left: 20px;
}

.resume-page {
    background-image: url('../images/resume-background.jpg');
    color: white;
    background-size: cover;
}

.content-wrapper {
    padding-bottom: 33px;
}