.resume-header,
.resume-text {
  font-family: 'Hind Madurai', sans-serif;
  margin-left: 20px;
}

.resume-list {
  font-family: 'Hind Madurai', sans-serif;
  margin-left: 20px;
}

.resume-text {
  font-size: 28px;
}

.resume-list li {
  font-size: 18px;
}

.resume-page {
  background-image: url('../images/resume-background.jpg');
  color: white;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-wrapper {
  flex-grow: 1;
  padding-bottom: 33px;
  text-align: left;
}

.button-container {
  display: flex;
  justify-content: center;
}
